{% load django_bootstrap5 %}


<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#credit-importModal">
  <i class="fab fa-cc-visa"></i> Credit Import
</button>

<!-- Modal -->
<div class="modal fade" id="credit-importModal" tabindex="-1" aria-labelledby="credit-importModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form class="form" method="POST" action="{%url 'kakeibo_v2:kakeibo_credit_import'%}">
        <div class="modal-header">
          <h5 class="modal-title" id="credit-importModalLabel">
            <i class="fas fa-sticky-note"></i>　Credit Import Form
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {% bootstrap_form credit_import_form %}
          {% csrf_token %}
          <input type="hidden" name="source_path" value="{{request.get_full_path}}">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" value="Create">
            <i class="fas fa-plus"></i> Create
          </button>
        </div>
      </form>
    </div>
  </div>
</div>