<!-- Search -->
<div class="accordion-item">
  <h4 class="accordion-header" id="headingOne">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      <i class="fas fa-search"></i>&nbsp;検索
    </button>
  </h4>
  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body">
      <form class="form" method="GET">
        {{search_form.as_p}}
        <button type="submit" class="btn btn-primary" value="検索">
          <i class="fas fa-search"></i> 検索
        </button>
        <a href="{% url 'kakeibo:kakeibo_list' %}" class="btn btn-secondary">
          <i class="fas fa-undo"></i> リセット
        </a>
      </form>
    </div>
  </div>
</div>