{% extends "base.html" %}
{% load humanize %}
{% load my_templatetags %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}
kakeibo
{% endblock %}

{% block page-title %}
kakeibo
{% endblock %}

{% block body %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2"></script>
<div class="container-fluid">
  <div class="row">
    <!--基本メニュ-->
    <div class="col-lg-5">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h2 class="card-title">Kakeibo</h2>
        </div>
        <div class="card-body">

          <table class="table">
            <tr class="table-primary">
              <th>リソース</th>
              <th>合計</th>
              <th>今月収支</th>
            </tr>
            {% for resource in resources %}
            <tr>
              <th>{{resource.name}}</th>
              <td>{{resource.total |yen}}</td>
              <td>{{resource.diff_this_month |yen}}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
        <div class="card-footer">
          <a class="btn btn-secondary" href="{%url 'kakeibo:kakeibo_list'%}">
            <i class="fas fa-list"></i> 家計簿一覧
          </a>
        </div>
      </div>
    </div>

    <!--Chart.js-->
    <div class="col-lg-7">
      <div class="accordion" id="accordionExample">
        {% include 'accordion_kakeibo_form.html' %}
      </div>
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h2 class="card-title">Chart.js</h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <canvas id="chart_bar" width="500" height="500"></canvas>
            </div>
            <div class="col-lg-6">
              <canvas id="chart_pie" width="500" height="500"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!--Chart.js-->
<script>
let ctx = document.getElementById("chart_bar").getContext("2d");

let chart = new Chart(ctx, {
  type: "bar",
  data: {
     labels: [{% for ch in chart_header %}"{{ch}}",{% endfor %}],
     datasets: [
        {
          label: "Gross volume ($)",
          backgroundColor: "#79AEC8",
          borderColor: "#417690",
          data: [{% for cd in chart_data %}{{cd}},{% endfor %}]
        }
     ]
  },
  options: {
    title: {
      text: "Gross Volume in 2020",
      display: true
    },
    scales: {
      y: {
        beginAtZero: true
      }
    }
  }
});

let ctx_pie = document.getElementById("chart_pie").getContext("2d");

let chart_pie = new Chart(ctx_pie, {
  type: "pie",
  data: {
     labels: [{% for ch in chart_header %}"{{ch}}",{% endfor %}],
     datasets: [
        {
          label: "Yen (¥)",
          data: [{% for cd in chart_data %}{{cd}},{% endfor %}],
          backgroundColor: [
          "#2ecc71",
          "#3498db",
          "#95a5a6",
          "#9b59b6",
          "#f1c40f",
          "#e74c3c",
          "#34495e",
         ]
        }
     ]
  },
  options: {
    title: {
      text: "Pie",
      display: true
    },
  }
});
</script>
{% endblock %}

{% block js %}
{{ form.media }}
{% endblock %}