{% extends "base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load humanize %}
{% load mathfilters %}
{% load my_templatetags %}

{% block title %}
Kakeibo List
{% endblock %}

{% block page-title %}
Kakeibo List
{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <div class="accordion" id="accordionExample">
        {% include 'accordion_kakeibo_search_form.html' %}
        {% include 'accordion_kakeibo_form.html' %}
      </div>
    </div>

    <div class="col-lg-8">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h2 class="card-title"><i class="fas fa-list"></i> Kakeibo List</h2>
        </div>
        <div class="card-body">
          <table class="table">
            <tr class="table-primary">
              <th>ID</th>
              <th>Date</th>
              <th>Usage</th>
              <th>Way</th>
              <th>From</th>
              <th>To</th>
              <th>Fee</th>
              <th>Memo</th>
            </tr>
            {% for object in object_list %}
            <tr>
              <td>
                <a href="{%url 'kakeibo:kakeibo_detail' pk=object.pk%}">{{object.pk}}</a>
              </td>
              <td>{{object.date}}</td>
              <td>{{object.usage}}</td>
              <td>{{object.way}}</td>
              <td>{{object.resource_from |default:"-"}}</td>
              <td>{{object.resource_to |default:"-"}}</td>
              <td>
                {%if object.currency == 'JPY'%}
                  {{object.fee |yen}}
                {%elif object.currency == 'USD'%}
                  {{object.fee |usd}}
                {%endif%}
              </td>
              <td>{{object.memo |default:"" |truncatechars:10 }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
        <div class="card-footer">
          {% if page_obj.has_other_pages %}
          <nav>
            <ul class="pagination">
              <!--previous-->
              {% if page_obj.has_previous %}
              <li class="page-item">
                <a class="page-link"
                   href="{%url 'kakeibo:kakeibo_list'%}?page={{page_obj.previous_page_number}}{{params}}"
                >&laquo;</a>
              </li>
              {% else %}
              <li class="page-item disabled"><a class="page-link">&laquo;</a></li>
              {% endif %}
              <!--first-->
              {% if page_obj.number|sub:5 > 0 %}
              <li class="page-item">
                <a class="page-link"
                   href="{%url 'kakeibo:kakeibo_list'%}?page=1{{params}}"
                >1</a>
              </li>
              {% endif %}
              <!--pages-->
              {% for i in page_obj.paginator.page_range %}
              {% if page_obj.number == i %}
              <li class="page-item active">
                <a class="page-link" href="#">{{i}}</a>
              </li>
              {% elif page_obj.number|sub:i < 5 and page_obj.number|sub:i > -5 %}
              <li class="page-item">
                <a class="page-link"
                   href="{%url 'kakeibo:kakeibo_list'%}?page={{i}}{{params}}"
                >{{i}}</a>
              </li>
              {% elif page_obj.number|sub:i == 5 or page_obj.number|sub:i == -5 %}
              <li class="disabled">
                <a class="page-link text-secondary d-inline-block text-muted" href="#">・・・</a>
              </li>
              {% endif %}
              {% endfor %}
              <!--last-->
              {% if not page_obj.number == page_obj.paginator.num_pages %}
              <li class="page-item">
                <a class="page-link"
                   href="{%url 'kakeibo:kakeibo_list'%}?page={{page_obj.paginator.num_pages}}{{params}}"
                >{{page_obj.paginator.num_pages}}</a>
              </li>
              {% endif %}
              <!--next-->
              {% if page_obj.has_next %}
              <li class="page-item">
                <a class="page-link"
                   href="{%url 'kakeibo:kakeibo_list'%}?page={{page_obj.next_page_number}}{{params}}"
                >&raquo;</a>
              </li>
              {% else %}
              <li class="page-item disabled"><a class="page-link">&raquo;</a></li>
              {% endif %}
            </ul>
          </nav>
          {% endif %}
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}

{% block js %}
{{ form.media }}
{{ search_form.media }}
{% endblock %}