{% extends "base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load humanize %}
{% load my_templatetags %}

{% block title %}
Kakeibo Detail
{% endblock %}

{% block page-title %}
Kakeibo Detail
{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h2 class="card-title">Kakeibo Detail</h2>
        </div>
        <div class="card-body">
          <table class="table">
            <tr>
              <th>Date</th>
              <td>{{object.date}}</td>
            </tr>
            <tr>
              <th>Fee</th>
              <td>{{object.fee |yen}}</td>
            </tr>
            <tr>
              <th>Usage</th>
              <td>{{object.usage}}</td>
            </tr>
            <tr>
              <th>Way</th>
              <td>{{object.way}}</td>
            </tr>
            <tr>
              <th>Resource From</th>
              <td>{{object.way.resource_from |default:"-"}}</td>
            </tr>
            <tr>
              <th>Resource To</th>
              <td>{{object.way.resource_to |default:"-"}}</td>
            </tr>
            <tr>
              <th>Memo</th>
              <td>{{object.memo}}</td>
            </tr>
            {% if object.shared %}
            <tr>
              <th>Shared</th>
              <td>
                <a href="{%url 'kakeibo:shared_detail' pk=object.shared.pk%}">{{object.shared}}</a>
              </td>
            </tr>
            {% endif %}
            {% if object.event %}
            <tr>
              <th>Event</th>
              <td>
                <a href="{%url 'kakeibo:shared_detail' pk=object.event.pk%}">{{object.event}}</a>
              </td>
            </tr>
            {% endif %}
          </table>
        </div>
        <div class="card-footer">
          <a class="btn btn-info" href="{%url 'kakeibo:kakeibo_update' pk=object.pk%}">
            <i class="fas fa-edit"></i> 家計簿更新
          </a>
          <a class="btn btn-secondary" href="{%url 'kakeibo:kakeibo_list'%}">
            <i class="fas fa-list"></i> 家計簿一覧
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}