{% extends "base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load humanize %}
{% load my_templatetags %}

{% block title %}
Kakeibo Detail
{% endblock %}

{% block page-title %}
Kakeibo Detail
{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h2 class="card-title">Kakeibo Detail</h2>
          {% if object.is_active %}
          <label class="badge bg-success">Active</label>
          {% else %}
          <label class="badge bg-danger">Inactive</label>
          {% endif %}
        </div>
        <div class="card-body">
          <table class="table">
            <tr>
              <th>Date</th>
              <td>{{object.date}}</td>
            </tr>
            <tr>
              <th>Currency</th>
              <td>
                {%if object.currency == 'JPY'%}
                  <label class="badge bg-info">
                    <i class="fas fa-yen-sign"></i>&nbsp;JPY
                  </label>
                {%elif object.currency == 'USD'%}
                  <label class="badge bg-warning">
                    <i class="fas fa-dollar-sign"></i>&nbsp;USD
                  </label>
                {%endif%}
              </td>
            </tr>
            <tr>
              <th>Fee</th>
              <td>
                {%if object.currency == 'JPY'%}
                  {{object.fee |yen}}
                {%elif object.currency == 'USD'%}
                  {{object.fee |usd}} {%if object.fee_converted%}({{object.fee_converted |yen}}){%endif%}
                {%endif%}
              </td>
            </tr>
            <tr>
              <th>Usage</th>
              <td>{{object.usage}}</td>
            </tr>
            <tr>
              <th>Way</th>
              <td>{{object.way}}</td>
            </tr>
            <tr>
              <th>Resource From</th>
              <td>{{object.resource_from |default:"-"}}</td>
            </tr>
            <tr>
              <th>Resource To</th>
              <td>{{object.resource_to |default:"-"}}</td>
            </tr>
            <tr>
              <th>Memo</th>
              <td>{{object.memo |default:"-"}}</td>
            </tr>
            {% if object.shared %}
            <tr>
              <th>Shared</th>
              <td>
                <a href="{%url 'kakeibo:shared_detail' pk=object.shared.pk%}">{{object.shared}}</a>
              </td>
            </tr>
            {% endif %}
            {% if object.event %}
            <tr>
              <th>Event</th>
              <td>
                <a href="{%url 'kakeibo:event_detail' pk=object.event.pk%}" class="btn btn-sm btn-info">
                  {{object.event}}
                </a>
              </td>
            </tr>
            {% endif %}
            {% if object.exchange_from %}
            <tr>
              <th>Exchange (To)</th>
              <td>
                <a href="{%url 'kakeibo:kakeibo_detail' pk=object.exchange_from.kakeibo_to.pk%}">
                  Link: {{object.exchange_from.kakeibo_to.fee |usd}}
                </a>
              </td>
            </tr>
            {% elif object.exchange_to %}
            <tr>
              <th>Exchange (From)</th>
              <td>
                <a href="{%url 'kakeibo:kakeibo_detail' pk=object.exchange_to.kakeibo_from.pk%}">
                  Link: {{object.exchange_to.kakeibo_from.fee |yen}}
                </a>
              </td>
            </tr>
            {% endif %}
          </table>
        </div>
        <div class="card-footer">
          <a class="btn btn-info" href="{%url 'kakeibo:kakeibo_update' pk=object.pk%}">
            <i class="fas fa-edit"></i> Update
          </a>
          <a class="btn btn-secondary" href="{%url 'kakeibo:kakeibo_list'%}">
            <i class="fas fa-list"></i> List
          </a>
          {% if object.is_active %}
          <a class="btn btn-danger" href="{%url 'kakeibo:kakeibo_delete' pk=object.pk%}">
            <i class="fas fa-trash-alt"></i> Delete
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}