{% extends "base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}
Kakeibo Update
{% endblock %}

{% block page-title %}
Kakeibo Update
{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <form method="POST" class="form">
          <div class="card-header bg-primary text-white">
            <h2 class="card-title">Kakeibo Update</h2>
          </div>
          <div class="card-body">
            <table class="table">
              {% csrf_token %}
              {{form.as_table}}
            </table>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-primary">
              <i class="fas fa-upload"></i> Update
            </button>
            <a class="btn btn-secondary" href="{%url 'kakeibo:kakeibo_list'%}">
              <i class="fas fa-list"></i> List
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
{{ form.media }}
{% endblock %}