{% extends "base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load humanize %}
{% load my_templatetags %}

{% block title %}
Kakeibo Delete
{% endblock %}

{% block page-title %}
Kakeibo Delete
{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h2 class="card-title">Kakeibo Delete Confirmation</h2>
        </div>
        <div class="card-body">
          <h5>
            <label class="badge bg-warning text-reset">
              Are you sure you want to delete this data ?
            </label>
          </h5>
          <table class="table">
            <tr>
              <th>Date</th>
              <td>{{object.date}}</td>
            </tr>
            <tr>
              <th>Currency</th>
              <td>{{object.currency}}</td>
            </tr>
            <tr>
              <th>Fee</th>
              <td>
                {%if object.currency == 'JPY'%}
                  {{object.fee |yen}}
                {%elif object.currency == 'USD'%}
                  {{object.fee |usd}}
                {%endif%}
              </td>
            </tr>
            <tr>
              <th>Usage</th>
              <td>{{object.usage}}</td>
            </tr>
            <tr>
              <th>Way</th>
              <td>{{object.way}}</td>
            </tr>
            <tr>
              <th>Resource From</th>
              <td>{{object.resource_from |default:"-"}}</td>
            </tr>
            <tr>
              <th>Resource To</th>
              <td>{{object.resource_to |default:"-"}}</td>
            </tr>
            <tr>
              <th>Memo</th>
              <td>{{object.memo |default:"-"}}</td>
            </tr>
            {% if object.shared %}
            <tr>
              <th>Shared</th>
              <td>
                <a href="{%url 'kakeibo:shared_detail' pk=object.shared.pk%}">{{object.shared}}</a>
              </td>
            </tr>
            {% endif %}
            {% if object.event %}
            <tr>
              <th>Event</th>
              <td>
                <a href="{%url 'kakeibo:shared_detail' pk=object.event.pk%}">{{object.event}}</a>
              </td>
            </tr>
            {% endif %}
          </table>
        </div>
        <div class="card-footer">
          <form class="form" method="POST">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit">
              <i class="fas fa-trash-alt"></i> Delete
            </button>
            <a class="btn btn-secondary" href="{%url 'kakeibo:kakeibo_detail' pk=object.pk%}">
              <i class="fas fa-backward"></i> Back to detail
            </a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}