{% extends "base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}
kakeibo
{% endblock %}

{% block page-title %}
kakeibo
{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <!--基本メニュ-->
    <div class="col-md-8">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h2 class="card-title">Kakeibo</h2>
        </div>
        <div class="card-body">
          リソース一覧
          <ul>
            {% for resource in resources %}
            <li>{{resource.name}}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="card-footer">
          <a class="btn btn-info" href="{%url 'kakeibo:kakeibo_list'%}">家計簿一覧</a>
        </div>
      </div>
    </div>

    <!--Chart.js-->
    <div class="col-md-4">
      <div class="card">
        <div class="card-header bg-success text-white">
          <h2 class="card-title">Chart.js</h2>
        </div>
        <div class="card-body">
          <script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2"></script>
          <canvas id="chart" width="500" height="500"></canvas>
        </div>
      </div>
    </div>

  </div>
</div>

<!--Chart.js-->
<script>
let ctx = document.getElementById("chart").getContext("2d");

let chart = new Chart(ctx, {
  type: "bar",
  data: {
     labels: [{% for ch in chart_header %}"{{ch}}",{% endfor %}],
     datasets: [
        {
          label: "Gross volume ($)",
          backgroundColor: "#79AEC8",
          borderColor: "#417690",
          data: [{% for cd in chart_data %}{{cd}},{% endfor %}]
        }
     ]
  },
  options: {
    title: {
      text: "Gross Volume in 2020",
      display: true
    },
    scales: {
      y: {
        beginAtZero: true
      }
    }
  }
});
</script>
{% endblock %}