{% extends "base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}
共通家計簿 編集
{% endblock %}

{% block page-title %}
共通家計簿 編集
{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h2 class="card-title">共通家計簿 更新</h2>
        </div>
        <div class="card-body">
          共通家計簿 更新
          <form method="POST" class="form">
            <table class="table">
              {% csrf_token %}
              {{form.as_table}}
            </table>
            <input type="submit" value="送信" class="btn btn-primary">
          </form>
        </div>
        <div class="card-footer">
          <a class="btn btn-info" href="{%url 'kakeibo:shared_list'%}">共通家計簿一覧</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
{{ form.media }}
{% endblock %}