{% extends "base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load humanize %}
{% load my_templatetags %}

{% block title %}
共通家計簿 詳細
{% endblock %}

{% block page-title %}
共通家計簿 詳細
{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card bg-light">
        <div class="card-header">
          <h2 class="card-title">共通家計簿 詳細</h2>
        </div>
        <div class="card-body table-responsive">
          <table class="table">
            <tr>
              <th>日付</th>
              <td>{{object.date}}</td>
            </tr>
            <tr>
              <th>金額</th>
              <td>{{object.fee |yen}}</td>
            </tr>
            <tr>
              <th>用途</th>
              <td>{{object.usage}}</td>
            </tr>
            <tr>
              <th>支払者</th>
              <td>{{object.paid_by}}</td>
            </tr>
            <tr>
              <th>メモ</th>
              <td>{{object.memo}}</td>
            </tr>
          </table>
        </div>
        <div class="card-footer">
          <a class="btn btn-info" href="{%url 'kakeibo:shared_update' pk=object.pk%}">
            <i class="fas fa-edit"></i> 更新
          </a>
          <a class="btn btn-secondary" href="{%url 'kakeibo:shared_list'%}">
            <i class="fas fa-list"></i> 一覧
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}