{% extends "base.html" %}
{% load humanize %}
{% load my_templatetags %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load mathfilters %}


{% block title %}
共通家計簿
{% endblock %}

{% block page-title %}
共通家計簿
{% endblock %}

{% block body %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2"></script>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-9">
      <h3>
        <i class="fas fa-people-carry"></i> 共通家計簿({{target_ym.year}}/{{target_ym.month}})
        {%if is_black %}
        <span class="badge bg-dark">
          黒字：{{diff |mul:-1 |yen}} <i class="fas fa-thumbs-up"></i>
        </span>
        {% else %}
        <span class="badge bg-danger">
          赤字：{{diff |yen}} <i class="fas fa-thumbs-down"></i>
        </span>
        {% endif %}
      </h3>
    </div>
    <div class="col-12 col-lg-3">
      <h3>
      </h3>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-lg-4">
      <div class="accordion" id="accordionExample">
        {% include 'accordion_shared_form.html' %}
        {% include 'accordion_shared_yearmonth_form.html' %}
        {% with form=shared_resource_form%}
        {% include 'accordion_shared_resource_form.html' %}
        {% endwith%}
      </div>
    </div>
    <div class="col-lg-8">
      <h5>精算：{{seisan.hoko |yen}}</h5>
      <hr>
      <h5>
        支出： {{payment.total |yen}}
      </h5>
      <div class="progress" style="height:40px">
        <div class="progress-bar" role="progressbar" style="width: {{p_payment.takashi}}%"
          aria-valuenow="{{p_budget.takashi}}" aria-valuemin="0" aria-valuemax="100"
        >敬士<br>{{payment.takashi |yen}}</div>
        <div class="progress-bar bg-success" role="progressbar" style="width: {{p_payment.hoko}}%"
          aria-valuenow="{{p_budget.hoko}}" aria-valuemin="0" aria-valuemax="100"
        >朋子<br>{{payment.hoko |yen}}</div>
      </div>
      <hr>
      <h5>予算：{{budget.total |yen}}</h5>
      <div class="progress" style="height:40px">
        <div class="progress-bar" role="progressbar" style="width: {{p_budget.takashi}}%"
          aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"
        >敬士<br>{{budget.takashi |yen}}</div>
        <div class="progress-bar bg-success" role="progressbar" style="width: {{p_budget.hoko}}%"
          aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"
        >朋子<br>{{budget.hoko |yen}}</div>
        {% if not is_black %}
        <div class="progress-bar bg-danger" role="progressbar" style="width: {{p_budget.over}}%"
          aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"
        >超過<br>{{diff |yen_no_color}}</div>
        {% endif %}
      </div>
    </div>
  </div>
  <hr>

  <div class="row">
    <!--基本メニュ-->
    <div class="col-lg-5">
      <div class="card bg-light">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fas fa-columns"></i> 概要
          </h3>
        </div>
        <div class="card-body">
          <h5>内訳</h5>
          <table class="table">
            <tr>
              <th>用途</th>
              <th class="right">{{target_ym.year}}/{{target_ym.month}}</th>
              <th class="right">{{last_ym.year}}/{{last_ym.month}}</th>
            </tr>
            {% for k, u in usages.items %}
            <tr>
              <td>{{k}}</td>
              <td class="right">{{u.tm |yen}}</td>
              <td class="right">{{u.lm |yen}}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
        <div class="card-footer">
          <a class="btn btn-secondary" href="{%url 'kakeibo:shared_list'%}">
            <i class="fas fa-list"></i> 一覧
          </a>
        </div>
      </div>
      <hr>
    </div>

    <div class="col-lg-7">
      <div class="card bg-light">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fas fa-piggy-bank"></i> 共通口座
          </h3>
        </div>
        <div class="card-body">
          <table class="table">
            <tr>
              <th>詳細/追加</th>
              <th>名前</th>
              <th class="right">実績</th>
              <th class="d-none d-sm-table-cell right">目標</th>
            </tr>
            {% for sr in shared_resources %}
            <tr>
              <td>
                <a href="{%url 'kakeibo:shared_resource_detail' pk=sr.pk%}" class="btn btn-info btn-sm btn-block">
                  <i class="fas fa-external-link-square-alt"></i>
                </a>
                <a class="btn btn-primary btn-sm" 
                  href="{%url 'kakeibo:shared_transaction_create'%}?shared_resource={{sr.pk}}">
                  <i class="fas fa-plus"></i>
                </a>
              </td>
              <td>
                {{sr.name}}
                <div class="d-none d-sm-block progress" style="height: 20px;">
                  <div class="progress-bar" role="progressbar" style="width: {{sr.progress_100}}%" 
                    aria-valuenow="{{sr.progress_100}}" aria-valuemin="0" aria-valuemax="100">
                    {{sr.progress_100}}%
                  </div>
                </div>
              </td>
              <td class="right">{{sr.val_actual |yen}}</td>
              <td class="right d-none d-sm-table-cell ">{{sr.val_goal |yen}}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
        <div class="card-footer">
          <a class="btn btn-secondary" href="{%url 'kakeibo:shared_resource_list'%}">
            <i class="fas fa-list"></i> 共通口座一覧
          </a>
        </div>
      </div>
      <hr>
      <div class="card bg-light">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fas fa-chart-pie"></i> ダッシュボード
          </h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <canvas id="chart_bar" width="500" height="500"></canvas>
            </div>
            <div class="col-md-6">
              <canvas id="chart_pie" width="500" height="500"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!--Chart.js-->
<script>
let ctx = document.getElementById("chart_bar").getContext("2d");
const diff = {{diff}};
let diff_half = 0;
if (diff > 0) {
  diff_half = Math.round(diff/2);
}
let chart = new Chart(ctx, {
  type: "bar",
  //"rgba(250,153,  0,0.4)",
  //"rgba(  0,153,253,0.4)",
  //"rgba(153,250,  0,0.4)",
  //"rgba(153,  0,253,0.4)",
  //"rgba(253,  0,150,0.4)",
  //"rgba(  0,253,153,0.4)",
  data: {
    labels: ["予算（朋子）", "支払（朋子）", "予算（敬士）", "支払（敬士）"],
    datasets: [
      {
        label: "精算",
        backgroundColor: "rgba(250,153,  0,0.4)",
        borderColor: "#904176",
        data: [0, {{seisan.hoko}}, 0, {{seisan.takashi}}]
      },
      {
        label: "予算",
        backgroundColor: "rgba(  0,153,253,0.4)",
        borderColor: "#904176",
        data: [{{budget.hoko}}, 0, {{budget.takashi}}, 0]
      },
      {
        label: "赤字",
        backgroundColor: "rgba(153,  0,253,0.4)",
        borderColor: "#904176",
        data: [diff_half, 0, diff_half, 0]
      },
      {
        label: "支払",
        backgroundColor: "rgba(153,250,  0,0.4)",
        borderColor: "#904176",
        data: [0, {{payment.hoko}}, 0, {{payment.takashi}}]
      },
    ],
  },
  options: {
    title: {
      text: "Gross Volume in 2020",
      display: true
    },
    scales: {
      y: {
        beginAtZero: true,
        stacked: true,
      },
      x: {
        stacked: true,
      }
    }
  }
});

let ctx_pie = document.getElementById("chart_pie").getContext("2d");

let chart_pie = new Chart(ctx_pie, {
  type: "pie",
  data: {
    labels: [{% for u in usages.keys %}"{{u}}",{% endfor %}],
    datasets: [
      {
        label: "Yen (¥)",
        data: [{% for v in usages.values %}{{v.tm}},{% endfor %}],
        backgroundColor: [
          "#2ecc71",
          "#3498db",
          "#95a5a6",
          "#9b59b6",
          "#f1c40f",
          "#e74c3c",
          "#34495e",
        ]
      }
    ]
  },
  options: {
    title: {
      text: "Pie",
      display: true
    },
  }
});
</script>
{% endblock %}

{% block js %}
{{ form.media }}
{% endblock %}