{% extends "base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}
共通家計簿 編集
{% endblock %}

{% block page-title %}
共通家計簿 編集
{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <form method="POST" class="form">
        <div class="card bg-light">
          <div class="card-header">
            <h2 class="card-title">共通家計簿 更新</h2>
          </div>
          <div class="card-body">
            <table class="table">
              {% csrf_token %}
              {{form.as_table}}
            </table>
          </div>
          <div class="card-footer">
            <input type="submit" value="送信" class="btn btn-primary">
            <a class="btn btn-info" href="{%url 'kakeibo:shared_list'%}">共通家計簿一覧</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
{{ form.media }}
{% endblock %}