{% extends "base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_pagination page %}
{% load humanize %}
{% load mathfilters %}
{% load my_templatetags %}

{% block title %}
共通家計簿一覧
{% endblock %}

{% block page-title %}
共通家計簿一覧
{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <div class="accordion" id="accordionExample">
<!--        <div class="d-none d-sm-block">-->
          {% include 'accordion_shared_search_form.html' %}
          {% include 'accordion_shared_form.html' %}
<!--        </div>-->

      </div>
    </div>

    <div class="col-lg-8">
      <div class="card bg-light">
        <div class="card-header">
          <h2 class="card-title"><i class="fas fa-list"></i> 共通家計簿一覧</h2>
        </div>
        <div class="card-body table-responsive">
          <table class="table">
            <tr class="table-light">
              <th>ID</th>
              <th>日付</th>
              <th>用途</th>
              <th class="d-none d-sm-table-cell">支払者</th>
              <th class="right">金額</th>
              <th class="d-none d-sm-table-cell">メモ</th>
            </tr>
            {% for object in object_list %}
            <tr>
              <td>
                <a href="{%url 'kakeibo:shared_detail' pk=object.pk%}" class="btn btn-sm btn-info">
                  <i class="fas fa-external-link-square-alt"></i> {{object.pk}}
                </a>
              </td>
              <td>{{object.date}}</td>
              <td>{{object.usage}}</td>
              <td class="d-none d-sm-table-cell">{{object.paid_by}}</td>
              <td class="right">{{object.fee |yen}}</td>
              <td class="d-none d-sm-table-cell">{{object.memo |default:"" |truncatechars:10 }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
        <div class="card-footer">
          <div class="d-none d-sm-block">
            {% bootstrap_pagination page_obj url="?page=1" size="md" pages_to_show=9%}
          </div>
          <div class="d-block d-sm-none">
            {% bootstrap_pagination page_obj url="?page=1" size="sm" pages_to_show=3%}
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}

{% block js %}
{{ form.media }}
{{ search_form.media }}
{% endblock %}