{% extends "base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}
共通家計簿 編集
{% endblock %}

{% block page-title %}
共通家計簿 編集
{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <form method="POST" class="form">
        <div class="card bg-light">
          <div class="card-header">
            <h2 class="card-title">共通家計簿 更新</h2>
          </div>
          <div class="card-body table-responsive">
            <table class="table">
              {% csrf_token %}
              {{form.as_table}}
            </table>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-primary">
              <i class="fas fa-upload"></i> 送信
            </button>
            <a class="btn btn-secondary" href="{%url 'kakeibo:shared_list'%}">
              <i class="fas fa-list"></i> 一覧
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
{{ form.media }}
{% endblock %}