{% extends "base.html" %}
{% load humanize %}
{% load my_templatetags %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}
共通家計簿
{% endblock %}

{% block page-title %}
共通家計簿
{% endblock %}

{% block body %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2"></script>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-9">
      <h2>
        共通家計簿（{{target_ym.year}}/{{target_ym.month}}）
        {%if is_black %}
        <span class="badge bg-dark">黒字</span>
        {% else %}
        <span class="badge bg-danger">赤字</span>
        {% endif %}
      </h2>
    </div>
    <div class="col-12 col-lg-3">
      <form class="form" method="GET" action="">
        <input type="month" name="target_ym" value="{{initial_val}}">
        <input type="submit" class="btn btn-primary btn-sm" value="送信">
      </form>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-lg-4">
      <div class="accordion" id="accordionExample">
        <div class="d-none d-sm-block">
          {% include 'accordion_shared_form.html' %}
        </div>
        <div class="d-block d-sm-none">
          {% include 'accordion_mobile_shared_form.html' %}
        </div>
      </div>
      <h4>精算</h4>
      <p>{{seisan.hoko |yen}}</p>
      <hr>
    </div>
    <div class="col-lg-8">
      <h4>支出： {{payment.total |yen}}</h4>
      <div class="progress" style="height:25px">
        <div class="progress-bar" role="progressbar" style="width: {{p_payment.takashi}}%"
             aria-valuenow="{{p_budget.takashi}}" aria-valuemin="0" aria-valuemax="100"
        >敬士/{{payment.takashi |yen}}</div>
        <div class="progress-bar bg-success" role="progressbar" style="width: {{p_payment.hoko}}%"
             aria-valuenow="{{p_budget.hoko}}" aria-valuemin="0" aria-valuemax="100"
        >朋子/{{payment.hoko |yen}}</div>
      </div>
      <hr>
      <h4>予算：{{budget.total |yen}}</h4>
      <div class="progress" style="height:25px">
        <div class="progress-bar" role="progressbar" style="width: {{p_budget.takashi}}%"
             aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"
        >敬士/{{budget.takashi |yen}}</div>
        <div class="progress-bar bg-success" role="progressbar" style="width: {{p_budget.hoko}}%"
             aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"
        >朋子/{{budget.hoko |yen}}</div>
        {% if not is_black %}
        <div class="progress-bar bg-danger" role="progressbar" style="width: {{p_budget.over}}%"
             aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"
        >{{diff |yen_no_color}}</div>
        {% endif %}
      </div>
    </div>
  </div>
  <hr>

  <div class="row">
    <!--基本メニュ-->
    <div class="col-lg-5">
      <div class="card bg-light">
        <div class="card-header {%if is_black %}border-dark{% else %}border-danger{% endif %}">
          <h2 class="card-title">
            概要
          </h2>
        </div>
        <div class="card-body">
          <h4>内訳</h4>
          <table class="table">
            <tr>
              <th>用途</th>
              <th class="right">{{target_ym.year}}年{{target_ym.month}}月</th>
              <th class="right">{{last_ym.year}}年{{last_ym.month}}月</th>
            </tr>
            {% for k, u in usages.items %}
            <tr>
              <td>{{k}}</td>
              <td class="right">{{u.tm |yen}}</td>
              <td class="right">{{u.lm |yen}}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
        <div class="card-footer">
          <a class="btn btn-secondary" href="{%url 'kakeibo:shared_list'%}">レコード一覧</a>
        </div>
      </div>
    </div>

    <!--Chart.js-->
    <div class="col-lg-7">
      <div class="card bg-light">
        <div class="card-header border-primary">
          <h2 class="card-title">ダッシュボード</h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <canvas id="chart_bar" width="500" height="500"></canvas>
            </div>
            <div class="col-md-6">
              <canvas id="chart_pie" width="500" height="500"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!--Chart.js-->
<script>
let ctx = document.getElementById("chart_bar").getContext("2d");
const diff = {{diff}};
let diff_half = 0;
if (diff > 0) {
  diff_half = Math.round(diff/2);
}
let chart = new Chart(ctx, {
  type: "bar",
  data: {
     labels: ["予算（朋子）", "支払（朋子）", "予算（敬士）", "支払（敬士）"],
     datasets: [
        {
          label: "精算",
          backgroundColor: "#79AEC8",
          borderColor: "#417690",
          data: [0, {{seisan.hoko}}, 0, {{seisan.takashi}}]
        },
        {
          label: "予算",
          backgroundColor: "#C879AE",
          borderColor: "#904176",
          data: [{{budget.hoko}}, 0, {{budget.takashi}}, 0]
        },
        {
          label: "赤字",
          backgroundColor: "#AEC879",
          borderColor: "#904176",
          data: [diff_half, 0, diff_half, 0]
        },
        {
          label: "支払",
          backgroundColor: "#5ED91E",
          borderColor: "#904176",
          data: [0, {{payment.hoko}}, 0, {{payment.takashi}}]
        },
     ],
  },
  options: {
    title: {
      text: "Gross Volume in 2020",
      display: true
    },
    scales: {
      y: {
        beginAtZero: true,
        stacked: true,
      },
      x: {
        stacked: true,
      }
    }
  }
});

let ctx_pie = document.getElementById("chart_pie").getContext("2d");

let chart_pie = new Chart(ctx_pie, {
  type: "pie",
  data: {
     labels: [{% for u in usages.keys %}"{{u}}",{% endfor %}],
     datasets: [
        {
          label: "Yen (¥)",
          data: [{% for v in usages.values %}{{v.tm}},{% endfor %}],
          backgroundColor: [
          "#2ecc71",
          "#3498db",
          "#95a5a6",
          "#9b59b6",
          "#f1c40f",
          "#e74c3c",
          "#34495e",
         ]
        }
     ]
  },
  options: {
    title: {
      text: "Pie",
      display: true
    },
  }
});
</script>
{% endblock %}

{% block js %}
{{ form.media }}
{% endblock %}