{% extends "base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_pagination page %}
{% load humanize %}
{% load mathfilters %}
{% load my_templatetags %}

{% block title %}
共通口座一覧
{% endblock %}

{% block page-title %}
共通口座一覧
{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card bg-light">
        <div class="card-header">
          <h2 class="card-title">
            <i class="fas fa-piggy-bank"></i> 共通口座 一覧
          </h2>
        </div>
        <div class="card-body table-responsive">
          <div class="accordion" id="accordionExample">
            {% include 'accordion_shared_resource_form.html' %}
          </div>
          <hr>
          <table class="table">
            <tr>
              <th>No</th>
              <th>名前</th>
              <th>種類</th>
              <th>期間</th>
              <th>目標金額</th>
              <th>実績</th>
              <th>進捗</th>
            </tr>
            {% for object in object_list %}
            <tr>
              <td>
                <a href="{%url 'kakeibo:shared_resource_detail' pk=object.pk%}" class="btn btn-info btn-sm">
                  <i class="fas fa-external-link-square-alt"></i> {{object.pk}}
                </a>
              </td>
              <td>{{object.name}}</td>
              <td>{{object.kind}}</td>
              <td>{{object.date_open}}〜{{object.date_close |default:""}}</td>
              <td>{{object.val_goal |yen}}</td>
              <td>{{object.val_actual |yen}}</td>
              <td>
                <div class="progress" style="height: 40px;">
                  <div class="progress-bar" role="progressbar" style="width: {{object.progress_100}}%" 
                    aria-valuenow="{{object.progress_100}}" aria-valuemin="0" aria-valuemax="100">
                    {{object.progress_100}}%<br>{{object.val_actual |yen}}
                  </div>
                  {% with remaining=object.progress_100|sub:100|mul:-1 %}
                  <div class="progress-bar bg-secondary" role="progressbar" style="width: {{remaining}}%" 
                    aria-valuenow="{{remaining}}" aria-valuemin="0" aria-valuemax="100">
                    残り{{remaining}}%<br>{{object.val_goal|sub:object.val_actual |yen}}
                  </div>
                  {% endwith %}
                </div>
              </td>
            </tr>
            {% endfor %}
          </table>
          
        </div>
        <div class="card-footer">
          {% bootstrap_pagination page_obj url="?page=1" size="md" %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}