[run]
omit =
    */tests/*
    */migrations/*
    */__init__.py
    */apps.py
    .venv/*


[report]
omit =
    */tests/*
    */migrations/*
    */__init__.py
    */apps.py
    .venv/*


[html]
directory = htmlcov
