[run]
omit =
    */tests/*
    */migrations/*
    */__init__.py
    */apps.py
    .venv/*
    vent/*
    manage.py


[report]
omit =
    */tests/*
    */migrations/*
    */__init__.py
    */apps.py
    .venv/*
    vent/*
    manage.py


[html]
directory = htmlcov
