{% extends "base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load account socialaccount %}
{% load i18n %}



{% block title %}
{% trans "Account Inactive" %}
{% endblock %}

{% block page-title %}
{% trans "Account Inactive" %}
{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <div class="card">
        <form method="POST">
          {% csrf_token %}
          <div class="card-header bg-primary text-white">
            <h2 class="card-title">{% trans "Account Inactive" %}</h2>
          </div>
          <div class="card-body">
            <p>{% trans "This account is inactive." %}</p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}