{% extends "base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load account socialaccount %}
{% load i18n %}



{% block title %}
Change Password
{% endblock %}

{% block page-title %}
Change Password
{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <div class="card">
        <form method="POST">
          {% csrf_token %}
          <div class="card-header bg-primary text-white">
            <h2 class="card-title">Change Password</h2>
          </div>
          <div class="card-body">
            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
              {% csrf_token %}
              {% bootstrap_form form %}
              <button type="submit" name="action" class="btn btn-primary">{% trans "Change Password" %}</button>
              <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </form>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}