p.resizeimage img { width: 100%; }
th.right { text-align: right;}
th.left { text-align: left;}
th.center { text-align: center;}
td.right { text-align: right;}
td.left { text-align: left;}
td.center { text-align: center;}