{% load static %}
{% load admin_urls %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}


<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{%static 'favicon.ico'%}">
    <script src="https://kit.fontawesome.com/0e8797feee.js" crossorigin="anonymous"></script>
    <!--datepicker-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
      $(function () {
          // 日付は、年-月-日 の形式でお願いする。
          let dateFormat = 'yy-mm-dd';
          $('.datepicker').datepicker({
              dateFormat: dateFormat
          });
      });
    </script>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-light navbar-light navbar-toggleable-sm">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'top' %}">
          <img src="{% static 'menta.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
          fk_management v2
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!--shared-->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                <i class="fas fa-people-carry"></i> 共通家計簿
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="{%url 'kakeibo:shared_top'%}">
                    <i class="fas fa-tachometer-alt"></i> ダッシュボード
                  </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{%url 'kakeibo:shared_list' %}">レコード一覧</a></li>
              </ul>
            </li>
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" href="{%url 'kakeibo:shared_top'%}">-->
<!--               <i class="fas fa-people-carry"></i> 共通家計簿-->
<!--              </a>-->
<!--            </li>-->
            {% if request.user.is_staff %}
            <!--kakeibo-->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                <i class="fas fa-yen-sign"></i> Kakeibo
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{%url 'kakeibo:kakeibo_top'%}">
                  <i class="fas fa-tachometer-alt"></i> KakeiboDashboard
                </a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{%url 'kakeibo:kakeibo_list' %}">Kakeibo</a></li>
                <li><a class="dropdown-item" href="#">Usage</a></li>
                <li><a class="dropdown-item" href="#">Event</a></li>
              </ul>
            </li>
            <!--asset-->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                <i class="fas fa-coins"></i> Asset
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{%url 'kakeibo:kakeibo_top'%}">
                  <i class="fas fa-tachometer-alt"></i> AssetDashboard
                </a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Stock</a></li>
                <li><a class="dropdown-item" href="#">Entry</a></li>
                <li><a class="dropdown-item" href="#">Order</a></li>
              </ul>
            </li>
            <!--work-->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                <i class="fas fa-briefcase"></i> Work
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{%url 'kakeibo:kakeibo_top'%}">
                  <i class="fas fa-tachometer-alt"></i> WorkDashboard
                </a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Client</a></li>
                <li><a class="dropdown-item" href="#">Opportunity</a></li>
              </ul>
            </li>
            {% endif %}
          </ul>
          <!--other-->
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                <i class="fas fa-user-circle"></i> {{request.user}}
              </a>
              <ul class="dropdown-menu dropdown-menu-lg-end">
                {% if request.user.is_superuser %}
                <li><a class="dropdown-item" href="{%url 'admin:index'%}">
                  <i class="fas fa-users-cog"></i> Admin
                </a></li>
                <li><hr class="dropdown-divider"></li>
                {% endif %}
                {% if request.user.is_authenticated %}
                <li><a class="dropdown-item" href='/auth/logout'>
                  <i class="fas fa-sign-out-alt"></i> Log Out
                </a></li>
                {% else %}
                <li><a class="dropdown-item" href='/auth/login'>
                  <i class="fas fa-sign-in-alt"></i> Log In
                </a></li>
                {% endif %}
                <li><a class="dropdown-item" href="#">Profile</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <h1>{% block page-tilte%}{% endblock %}</h1>
    {% block body %}{% endblock %}
  </body>

  {% block js %}{% endblock %}
</html>

